    body {
        font-family: Arial, sans-serif;
        background: #f4f4f4;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    
    .form-container {
        width: 400px;
        /* margin: 50px auto; */
        padding: 30px;
        background: rgb(227, 171, 215);
        border-radius: 8px;
        box-shadow: 0px 0px 10px gray;
    }
    
    h1 {
        font-family: 'handlee', cursive;
        text-align: center;
        margin-bottom: 20px;
        color: rgb(130, 10, 106);
    }
    
    .form-group {
        margin-bottom: 15px;
    }
    
    label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
        color: #ffffff;
    }
    
    .input-box {
        display: flex;
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 6px;
        padding: 10px;
        background: white;
    }
    
    .input-box i {
        color: rgb(130, 10, 106);
        margin-right: 10px
    }
    
    .input-box input,
    .input-box select {
        border: none;
        outline: none;
        width: 100%;
        background: transparent;
        font-size: 14px;
    }
    
    .gender-options {
        display: flex;
        gap: 15px;
        margin-top: 5px;
    }
    
    .submit-button {
        width: 100%;
        padding: 12px;
        border: none;
        border-radius: 8px;
        background-color: rgb(130, 10, 106);
        color: white;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        transition: 0.3s ease;
    }
    
    .submit-button:hover {
        background-color: rgb(74, 1, 51);
        /* opacity: 0.9; */
        transform: scale(1.05);
    }
    
    .submit-button i {
        margin-right: 8px;
    }
    
    .message {
        margin-top: 20px;
        text-align: center;
        font-weight: bold;
        color: rgb(97, 13, 81);
        display: none;
        animation: fadeIn 0.5s ease;
    }
    
    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(-20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }